# =============================================
# 1C Frontend - Environment Variables (Example)
# Bu faylni nusxa olib .env deb saqlang
# =============================================

# API Base URL
VITE_API_BASE_URL=
VITE_API_TARGET_URL=

# API Auth
VITE_API_USERNAME=
VITE_API_PASSWORD=

# App Info
VITE_APP_NAME=
VITE_APP_VERSION=

# App Port
VITE_PORT=

# Environment (development | production)
VITE_NODE_ENV=
